.btn-blue {
	background-color: #003A70;
	color: white;
	padding: 15px 20px;
	border-radius: 20px;
	border: black;
}

.btn-blue:hover {
	box-shadow: 0 10px 30px rgba(0,0,0,.5);
	color: rgba(190, 190, 190, 1.0);
}