.container {
	width: 700px;
	margin: 70px auto;
	text-align: justify;
}

@media (max-width: 800px) {
	.container {
		width: 500px;
	}
}

@media	(max-width: 600px) {
	.container {
		width: 400px;
	}
}
